    <div class="container theme-showcase">

      <div class="form-group">
        <ul class="nav nav-pills">
          <li class="active"><a href="#">タイトル</a></li>
          <li><a href="#">著者名</a></li>
          <li><a href="#">タグ</a></li>
        </ul>
        <div class="input-group">
          <input type="text" placeholder="本を検索" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">検索</button>
          </span>
        </div>
      </div>

    </div> <!-- /container -->

    <hr></hr>

    <div class="row">
      <div class="col-md-offset-1 col-md-8">
        <h4>
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          新着本
        </h4>
        <hr></hr>

        <div class="row">
          <% @books.each do |book| %>
            <%= render partial: "book", locals: { book: book } %>
          <% end %>
        </div>
        <%= paginate(@books) %>

      </div>
      <div class="col-md-3">col-md-2</div>
    </div>
